/*メニューの中央寄せ*/
.icon{
	margin:0 35%;
	color:#8b8b8b;
}


/*モーダル*/
#modal-wrapper{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
	display: none;
}

/*検索モーダル*/
#modal-fa-search{
	position:fixed;
	top:30%;
	width:100%;
	height:40%;
	background-color: #e6ecf0;
	z-index: 20;
	display:none;

}

#search-text{
	position:relative;
	margin:0 10%;
	top:50%;
	width:80%;
	border-radius: 3px;
	/*適用しないと影ができる*/
	border:none;
}

#search{
	position:absolute;
	top:80%;
	left:45%;
	margin:0 0;
}

/*フィルターモーダル*/
#modal-filter{
	position:fixed;
	top:30%;
	width:100%;
	height:40%;
	background-color: #e6ecf0;
	z-index: 20;
	display:none;
}

.filter{
	position: fixed;
	top:45%;
	left:20%;
}